lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
public/scripts/vendor/jquery
public/scripts/vendor/underscore
public/scripts/vendor/backbone
public/scripts/vendor/bpopup
