body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: black;
  background-color: #fff;
}

a {
  color: #00B7FF;
}

button {
  border: none;
  color: #6d8ac4;
  padding: 2px;
  background-color: transparent;
}

form {
    padding: 1em;
}

form div {
    margin: 0.5em 0;
}

form > div > span,
form label span {
    display: inline-block;
    width: 6em;
}

.success-message,
.error-message {
    display: none;
    font-size: small
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}

.success .success-message,
.error .error-message {
    display:inline;
}

.hidden {
  display: none;
}

.notification-list {
  padding: 1em;
}

.notification-list > div {
  padding: 5px;
}

.notification-list .title {
  padding: 0.5em 0;
}

.map-container {
  padding-right: 2em;
}

#map { 
  height: 540px; 
  margin: 0 auto;
}

#mapInfo {
    font-size : 10px;
}

#mapInfo span {
  display: inline-block;
  margin: 0 1em;
}

#mapInfo span.west,
#mapInfo span.east,
#mapInfo span.north,
#mapInfo span.south {
  width: 10em; 
}

#mapInfo span:first-child {
  margin: 0;
}

#mapInfo input {
  margin-right: 1em;
}