body {
  font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: black;
  background-color: #fff;
}

a {
    color: #08c;
}

h1 { 
  margin: 0;
  font-weight: lighter;
}

header {
  padding: 1em 0 1em 153px;
  background: url('images/logo.png') no-repeat 5px center ;
  background-color: #cbe3eb;
  margin-bottom : 5px;
}

input[type='text'],
textarea {
  width: 30em;
}

textarea  {
    height : 6em;
}

input[type='submit'] {
    margin-right: 5px;
}

form.notification-popup {
    padding: 1em;
}

form div {
    margin: 0.5em 0;
}

button.show-as-link {
    padding : 0 3px;
    color: #08c;
    outline: none;
    border : none;
    background-color: transparent;
}

.notification-list .title button {
    padding-left: 15px;
    background: transparent url('images/arrow_collapsed.png') no-repeat left center;
}

button.show-as-link:hover {
    text-decoration: underline;
}

button.show-as-link.expanded {
    background: transparent url('images/arrow_expanded.png') no-repeat left center;
}

button.show-as-icon {
    display: inline-block;
    height: 16px;
    width: 16px;
    border : none;
    background-color: transparent;
    float: right;
}

button.show-as-icon.vote-up {
    background: #fff url('images/vote-up.gif') no-repeat right center;
    width: 4em;
}

.success-message,
.error-message {
    display: none;
    font-size: small;
    padding: 0 5px;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}

.success .success-message,
.error .error-message {
    display: inline;
}

.hidden {
  display: none;
}

.notification-list {
  padding: 1em;
}

.notification-list-counter {
    padding: 0 1em;
}

.notification-list > div {
  padding: 0.5em 0 1em 0;
  border-bottom : #ddd 1px solid;
}

.notification-list .more-details {
  padding: 0.5em;
}

.map-container {
  padding-right: 2em;
}

#map { 
  height: 700px; 
  margin: 0 auto;
}

#debugInfo {
    font-size : 10px;
}

#debugInfo span {
  display: inline-block;
  margin: 0 1em;
}

#debugInfo span.west,
#debugInfo span.east,
#debugInfo span.north,
#debugInfo span.south {
  width: 10em; 
}

#debugInfo > div:last-child {
  margin-top: 1em;
}

#debugInfo span:first-child {
  margin: 0;
}

#debugInfo input {
  margin-right: 1em;
}

.pure-button-error {
  background: rgb(202, 60, 60);
}

.pure-button-primary {
  background: rgb(98, 166, 187);
}

.pure-button-primary,
.pure-button-error {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

div.save-box {
    padding : 1em;
}

div.popup {
  border-radius : 5px;
  padding : 1em;
  background-color: white;
}

div.close-container
 {
  height: 16px;
}

span.or {
  padding : 0 1em;
}