extends index
block form_content
  div    
    label 
      span Title:
      input.title(type='text')
  div
    label 
      span Description:
      input.description(type='text')
  div
    span Latitude:
    span.lat
  div
    span Longitude:
    span.lon
  div
    input.pure-button.pure-button-primary(type='submit' value='Save')
    button.delete.pure-button.pure-button-error delete
    span.error-message Error
    span.success-message Success

