extends layout

block head

block content
  h1 Notifiction Map
  div.pure-g
    div.pure-u-1-4
        div.notification-list
    div.pure-u-3-4
      div.map-container
        div#map
        div#mapInfo
          div
            span West:    
            span.west
            span East:
            span.east
            span North:
            span.north
            span South:
            span.south
          input#lat(type='text')
          input#lon(type='text')
          button Set as Center
  script#notificationTemplate(type='text/template')
    div.title 
      span <%- title %>
    div.more-details.hidden
      div <%- description %>
      div
        span Lon: <%- lon %> &nbsp;
        span Lat: <%- lat %>
      button Close
  script#newNotificationTemplate(type='text/template')
    form.notification-popup
      div    
        label 
          span Title:
          input.title
      div
        label 
          span Description:
          input.description
      div
        span Latitude:
        span.lat
      div
        span Longitude:
        span.lon
      div
        input(type='submit' value='Save')
    

