extends layout

block head

block content
  header
    h1 Notifiction Map
  div.pure-g
    div.pure-u-1-4
        div.notification-list-counter Showing 10 of 
            span.counter
            |  notifications
        div.notification-list
    div.pure-u-3-4
      div.map-container
        div#map
        div#debugInfo
          div
            span West:    
            span.west
            span East:
            span.east
            span North:
            span.north
            span South:
            span.south
          div
            form.pure-form
              input#lat(type='text' placeholder='Latitude')
              input#lon(type='text' placeholder='Longitude')
              button.pure-button.pure-button-primary Set as Center
  script#notificationTemplate(type='text/template')
    div.title 
      button.show-as-link <%- title %>
    div.more-details.hidden
      div <%- description %>
      div Lon: <%- lon %> &nbsp;
      div Lat: <%- lat %>
      div
        button.pure-button.pure-button-error delete
  script#notificationPopupTemplate(type='text/template')
    form.notification-popup.pure-form.pure-form-stacked
      div    
        label 
          span Title:
          input.title(type='text')
      div
        label 
          span Description:
          input.description(type='text')
      div
        span Latitude:
        span.lat
      div
        span Longitude:
        span.lon
      div
        input.pure-button.pure-button-primary(type='submit' value='Save')
        button.delete.pure-button.pure-button-error delete
        span.error-message Error
        span.success-message Success
        
    

